@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  button,
  summary {
    @apply cursor-pointer;
  }
}

/* Sopra Steria colors */
@theme {
  --color-ssg-dark-purple: #4D1D82;
  --color-ssg-light-purple: #8b1d82;
  --color-ssg-red: #cf022b;
  --color-ssg-orange: #ef7d00;
}

@layer components {
  .compact-list:is(ul, ol),
  .compact-list :is(ul, ol) {
    @apply !my-2;
  }

  .compact-list li {
    @apply !my-0 !leading-[1.5];
  }

  .tag-list li {
    @apply !font-mono;
  }

  .tag-list li::before {
    content: '<';
  }
  .tag-list li::after {
    content: '>';
  }
}

.prose {
  --tw-prose-invert-bullets: var(--color-slate-300);
}
